In [5]:
import numpy as np
import pandas as pd

# 1. Create an ndarray for the company income for 10 months
months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct']
income = np.array([10000, 15000, 12000, 18000, 17000, 16000, 19000, 22000, 21000, 25000])

# 2. Multiply income by 0.7 to get income_without_tax
income_without_tax = income * 0.7

# 3. Create another collection for the company's expenses for 10 months
expenses = np.array([7000, 8000, 6500, 9000, 8500, 8000, 9500, 10000, 9500, 12000])

# 4. Create a DataFrame with income_without_tax and expenses
data = {'Income (After Tax)': income_without_tax, 'Expenses': expenses}
df = pd.DataFrame(data, index=months)

# 5. Output the DataFrame on the screen
print("Company Financial Data (10 months):")
print(df)

# 6. Output the data related to the 1st quarter (Jan, Feb, Mar)
print("\nData for 1st Quarter (Jan, Feb, Mar):")
print(df.loc[['Jan', 'Feb', 'Mar']])

Company Financial Data (10 months):
     Income (After Tax)  Expenses
Jan              7000.0      7000
Feb             10500.0      8000
Mar              8400.0      6500
Apr             12600.0      9000
May             11900.0      8500
Jun             11200.0      8000
Jul             13300.0      9500
Aug             15400.0     10000
Sep             14700.0      9500
Oct             17500.0     12000

Data for 1st Quarter (Jan, Feb, Mar):
     Income (After Tax)  Expenses
Jan              7000.0      7000
Feb             10500.0      8000
Mar              8400.0      6500